<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/src/assets/admindash/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/src/assets/admindash/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/src/assets/admindash/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/src/assets/admindash/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/src/assets/admindash/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/src/assets/admindash/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/src/assets/admindash/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/src/assets/admindash/assets/images/favicon.png" />
</head>

<body style="margin-left: 10%; margin-right:-10% ;">
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row ">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ORGANIZATIONS</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> Organization Name </th>
                          <th> Address </th>
                          <th> Contact </th>
                          <th> Licence No</th>
                          <th> Status </th>
                          <th> Contact </th>
                          <th> Edit </th>
                          <th>Delete </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let org of responseData | paginate: { itemsPerPage: tableSize, currentPage:count, totalItems:this.totalElements}; let i = index">
                          <td> {{org.orgName}}</td>
                          <td> {{org.address}}</td>
                          <td> {{org.contact}}</td>
                          <td> {{org.licenseNo}}</td>
                          <td>
                            <div *ngIf="org.status == '1'">
                              <span class="status-span">🟢 Active</span>
                            </div>
                            <div *ngIf="org.status == '0'">
                              <span class="status-span">🔴 Inactive</span>
                            </div>
                          </td>
                          <td> {{org.contact}}</td>
                          <td>
                            <div><a class="badge badge-outline-warning" [routerLink]="['/orgedit',org.orgId]">✏️</a>
                            </div>
                          </td>
                          <td>
                            <div><a  disabled="disabled" class="badge badge-outline-danger" [routerLink]="['/orgview']"
                                (click)="deleteOrg(org)">🗑️</a></div>
                          </td>
                        </tr>
                      </tbody>

                    </table> <div class="center"><pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                  </div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">

        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/src/assets/admindash/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/src/assets/admindash/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/src/assets/admindash/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/src/assets/admindash/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/src/assets/admindash/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/src/assets/admindash/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/src/assets/admindash/assets/js/off-canvas.js"></script>
  <script src="/src/assets/admindash/assets/js/hoverable-collapse.js"></script>
  <script src="/src/assets/admindash/assets/js/misc.js"></script>
  <script src="/src/assets/admindash/assets/js/settings.js"></script>
  <script src="/src/assets/admindash/assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/src/assets/admindash/assets/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>

</html>