<html style="background-color: #010910;"><div  class="main-panel">
  <body style="margin-bottom: 10%;">
    <div class="content-wrapper">
      <div style="margin-right:-5%;" class="row">
        <div style="margin-left:30%; margin-bottom: 10%; margin-top: 2%;"  class="col-md-6 grid-margin stretch-card">
          <div  style="background-color: #010910;" class="card">
            <div class="card-body">
              <h2 class="card-title">Password Reset!</h2>
                <form *ngIf="form==0" [formGroup]="orgformGroup" (submit)="devreg()" >
                <div class="form-group">
                  <label for="exampleInputUsername1">Enter Mail</label>
                  <input type="text" class="form-control" formControlName="sentto" placeholder="ENTER THE EMAIL">
                  <span class="text-danger" *ngIf="orgformGroup.controls['sentto'].touched && orgformGroup.hasError('required','sentto')"><i>Email Required</i></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark" (click)="dash()">Cancel</button>
              </form>

                <form [formGroup]="otpformGroup" (submit)="verify()"  *ngIf="form!==0">
               
                                 <label for="exampleInputUsername1">Enter Mail</label>
                                 <input type="text" class="form-control" formControlName="email" placeholder="ENTER THE EMAIL">
                                 <span class="text-danger" *ngIf="otpformGroup.controls['email'].touched && otpformGroup.hasError('required','email')"><i>Email Required</i></span>

                                 <label for="exampleInputUsername1">Enter OTP</label>
                                 <input type="text" class="form-control" formControlName="otp" placeholder="ENTER THE EMAIL">
                                 <span class="text-danger" *ngIf="otpformGroup.controls['otp'].touched && otpformGroup.hasError('required','otp')"><i>Email Required</i></span>
                                 
                                 <label for="exampleInputUsername1">Enter New Password</label>
                                 <input type="text" class="form-control" formControlName="newPassword" placeholder="ENTER THE EMAIL">
                                 <span class="text-danger" *ngIf="otpformGroup.controls['newPassword'].touched && otpformGroup.hasError('required','newPassword')"><i>Email Required</i></span>
                                 
                                 <label for="exampleInputUsername1">Enter Confirm Password</label>
                                 <input type="text" class="form-control" formControlName="cnewPassword" placeholder="ENTER THE EMAIL">
                                 <span class="text-danger" *ngIf="otpformGroup.controls['cnewPassword'].touched && otpformGroup.hasError('required','cnewPassword')"><i>Email Required</i></span><br>
                                 
                                 <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                 <button class="btn btn-dark" (click)="dash()">Cancel</button>
               </form>
            </div>
          </div>
        </div>
</div></div>  </body>
</div></html>