<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/admindash/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/admindash/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/admindash/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/admindash/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/admindash/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/admindash/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/admindash/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/assets/admindash/assets/images/favicon.png" />
  </head>
  <body>
 
      <!-- partial:partials/_sidebar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        
        <!-- partial -->
        <div style="margin-left:13%;" class="main-panel">
          <div class="content-wrapper">
        
            <div style="margin-left: 15%; margin-right: -20%; " class="row">
              <div class="col-sm-4 grid-margin">
                <div  class="card">
                  <div class="card-body">
                   <a style="text-decoration: none;" href="/orgview"> 
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">ORGANIZATION</h2>
                         
                        </div>
                        <h6 class="text-muted font-weight-normal">Manage Organization</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <br><br>
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                  </a>
                  </div>
                </div>
              </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <a style="text-decoration: none;" href="/orgview"> 
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">DEVICES</h2>
                        </div>
                        <h6 class="text-muted font-weight-normal">Manage<br>Devices</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right"><br><br>
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div>
              <BR>
              <div class="col-sm-4 grid-margin">
               
              </div>
            </div>
            <div style="margin-left: 15%; margin-right: -20%;" class="row">
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <a style="text-decoration: none;" href="/orgview"> 
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">USER</h2>
              
                        </div>
                        <h6 class="text-muted font-weight-normal">User<br>Management</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <br><br>
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                      </div>
                    </div>
                    </a>
                  </div>
                </div>
              </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <a style="text-decoration: none;" href="/orgview"> 
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Graph Analysis</h2>
                         
                        </div>
                        <h6 class="text-muted font-weight-normal">Analysis of Organization</h6>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <br><br>
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                      </div>
                    </div>
                    </a> 
                  </div>
                </div>
              </div>
              <BR>
              <div class="col-sm-4 grid-margin">
               
              </div>
            </div>

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
   
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/admindash/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/admindash/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/admindash/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/admindash/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets/admindash/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/admindash/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/admindash/assets/js/off-canvas.js"></script>
    <script src="/assets/admindash/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/admindash/assets/js/misc.js"></script>
    <script src="/assets/admindash/assets/js/settings.js"></script>
    <script src="/assets/admindash/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/admindash/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>