
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">LOGIN WITH GOOGLE</h3>
                <form >
                  <div class="form-group">
                
                  <div class="form-group">
                  </div>
                  </div>
                </form>
                <asl-google-signin-button *ngIf="!user"> </asl-google-signin-button>
              </div> </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
      
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/admindash/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/admindash/assets/js/off-canvas.js"></script>
    <script src="/assets/admindash/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/admindash/assets/js/misc.js"></script>
    <script src="/assets/admindash/assets/js/settings.js"></script>
    <script src="/assets/admindash/assets/js/todolist.js"></script>
    <!-- endinject -->
  </body>
  